extends layouts/default.pug

block variables
	- title = "#100Devs Progress Tracker"

block content
	h1.mb-6 About the 100Devs Progress Tracker

	p Welcome! The purpose of this site is to offer 100Devs catchup crew members a centralized location to access class and homework information and to give them an easy way to keep track of their progress through the course.

	p If you are new to 100Devs and would like to know what it's all about, or you have questions on how to get started, check out the #[a(href="/resources/faq") FAQ].

	p Please note: #[span.font-bold.italic This site is in no way, shape, or form associated with or endorsed by 100Devs or Leon Noel.] I am a member of the catchup crew myself and wanted to make the resource I wish I'd had as I was going through the program.

	p I do my very best to keep the information accurate but if you do find any errors, broken links, missing information, etc please #[a(href="mailto:laura@abrocadabro.com") let me know] or #[a(href="https://github.com/labrocadabro/communitytaught/issues") create an issue on Github].

	p This is an extension of the original #[a(target="_blank" href="https://labrocadabro.github.io/100devs-hw-tracker/") #100Devs Homework Tracker] that I made when I was starting out in the program. If you've been using the previous homework tracker and would like to switch, you can import your progress on the #[a(href="/account") settings page].
