extends layouts/default.pug

block variables
	- title = "Dashboard"
	- active = "Account"

block content
	h1.mb-5 Account Settings

	#import
		h3.mb-2 Import Data from #[a(href="https://labrocadabro.github.io/100devs-hw-tracker/" target="_blank") Old Tracker]
		.flex.flex-wrap-reverse
			form(method="post" action="/hw/import")
				label(for="importData") Please paste the data you exported from the old tracker
				br
				textarea#importData.w-full.max-w-lg(name="import")
				p.italic.m-2.w-full.max-w-lg If you select the following options, the importer will determine the most recent class you've completed a homework item for, and will mark that class and all previous classes as watched/checked in.
				input.mr-2(type="checkbox" id="classesWatched" name="classesWatched")
				label(for="classesWatched") Mark Classes Watched
				br
				input.mr-2(type="checkbox" id="classesCheckedin" name="classesCheckedin")
				label(for="classesCheckedin") Mark Classes Checked In
				button.btn.primary.mt-2(type="submit") Import
			#export-image.w-full.h-auto.max-w-lg
				img.border.border-gray-700(src="/img/export.png")

	#change-email.settings
		h3 Email
		span #{user.username} #[a(href="/change-email") Change]
		form(method="post" action="/change-email" id="email-form" style="display:none")
			label(for="username") New Email:
			input(type="email" name="username" id="username")
			button(type="submit") Change Email

	#change-password.settings
		h3 Password
		if user.hasPassword
			a(href="/change-password" id="change") Change password
			form(method="post" action="/change-password" id="change-form" style="display:none")
				div
					label(for="oldPassword") Old Password:
					input(type="password" name="oldPassword" id="oldPassword")
				div
					label(for="newPassword") New Password:
					input(type="password" name="newPassword" id="newPassword")
				div
					label(for="confirm") Confirm New Password:
					input(type="password" name="confirm" id="confirm")
				button(type="submit") Change Password
		else
			p You have not set a password for your account
			a(href="/set-password" id="set") Set password
			form(method="post" action="/set-password" id="set-form" style="display:none")
				div
					label(for="password") Password:
					input(type="password" name="password" id="password")
				div
					label(for="confirm") Confirm Password:
					input(type="password" name="confirm" id="confirm")
				button(type="submit") Change Password

	#linked-accounts.settings
		h3 Manage Linked Accounts
		if user.googleId || user.githubId
			ul
				if user.googleId
					li#google Google
						if !user.hasPassword && !user.githubId
							span.text-red-500 In order to maintain access to your account, please set a password or add another linked account before unlinking Google. Alteratively, use the delete account option to remove your account completely, and any linked accounts will be unlinked automatically.
						else
							a(href="/oauth/google/revoke") Unlink
				if user.githubId
					li#github Github
						if !user.hasPassword && !user.googleId
							span.text-red-500 In order to maintain access to your account, please set a password or add another linked account before unlinking Github. Alteratively, use the delete account option to remove your account completely, and any linked accounts will be unlinked automatically.
						else
							a(href="/oauth/github/revoke") Unlink
		else
			span No linked accounts

	#delete-account.settings
		h3 Delete Account
		button#first.btn.secondary.w-40 Delete
		form(id="delete-form" style="display:none")
			p.text-red-500 CAUTION. Deleting your account is irreversible. Please enter your email address below to confirm you would like to delete your account:
			p#wrong.text-red-500
			input(type="hidden" name="username" id="delete_username" value=user.username)
			label(for="confirm") Your email:
			input(type="email" name="confirm" id="delete_confirm")
			button#second.btn.primary.w-60.mt-4(type="submit") DELETE ACCOUNT

append scripts
	script(src="/js/account.js")
