extends layouts/default.pug

block variables
	- const title = "Classes"
	- active = "Classes"

block content
	if (!loggedIn)
		.flash.flash-error YOU ARE NOT CURRENTLY LOGGED IN.If you would like to track your progress, please #[a(href="/login") log in] or #[a(href="/register") register] before continuing.

	h1.mb-4 All Classes
	include ./partials/mixins.pug
	+lessontable(lessons)

	#to-top
		i.far.fa-square-caret-up(title="Back to top")

block extra-scripts
	script(src="/js/toTop.js")
	if loggedIn
		script(src="/js/lessonProgress.js")
		script(src="/js/lessonDone.js")
