extends layouts/default.pug

block variables
	- const title = "Dashboard"

block content
	h1 Dashboard

	if(user.admin) 
		p #[a(href="/class/add") Add Classes] | #[a(href="/hw/add") Add Homework]
		p #[a(href="/class/all") Watch Classes] | #[a(href="/hw/all") Check Homework]