extends layouts/default.pug

block variables
	- title = "Forgot Password"

block content
	form.auth-form.forgot(action="/email/forgot" method="post")

		h1 Forgot Password

		label(for="email") Email
		input#email(type="email", name="username" placeholder="Ex: john@smith.com")

		button.btn.primary(type="submit") Send Reset Link
		div.text-center.text-base #[a(href="/register") Create an account] | #[a(href="/login") Log In]
