extends layouts/default.pug
include ./mixins/homework.pug

block variables
	- title = "100Devs Homework Tracker"
	- active = "Homework"
	- description = "Keep track of all your 100Devs homework easily."

block content
	if !loggedIn
		include ./partials/flash-nologin.pug

	h1.mb-4 All Homework
	.stripe-rows
		each hw in homework
			//- .mb-6(class="shadow-[0_2px_10px_0_rgba(0,0,0,0.1)]")
			+homework(hw)

	include ./partials/to-top.pug

append scripts
	if loggedIn
		script(src="/js/hwProgress.js")
		script(src="/js/hwDone.js")
