extends layouts/default.pug

block variables
	- const title = "Homework"
	- active = "Homework"

block content
	if (!loggedIn)
		include ./partials/flash-nologin.pug

	h1.mb-4 All Homework
	include ./partials/mixins.pug
	+hwtable(homework)

	#to-top
		i.far.fa-square-caret-up(title="Back to top")

block extra-scripts
	script(src="/js/toTop.js")
	if loggedIn
		script(src="/js/hwProgress.js")
		script(src="/js/hwDone.js")
