extends layouts/default.pug

block variables
	- title = "100Devs Progress Tracker"
	- active = "Home"

block content
	#home(class="flex flex-col-reverse gap-8 my-10 sm:flex-row")

		#left-side.flex.flex-col.justify-center.flex-1
			h1.mb-3.text-twilight-900 100Devs Progress Tracker
			h2.text-stone-500.font-normal.text-xl.mb-3 Sign up to keep track of all your 100 Devs classes and homework in one place

			if loggedIn
				#cta.flex.gap-6
					a.block.bg-pink-800.border-pink-800.border.text-white.py-2.px-10.font-bold(href="/dashboard" class="hover:bg-pink-700 hover:no-underline") Dashboard
					a.block.text-pink-800.py-2.border.border-transparent.px-4(href="/resources" class="hover:border-pink-800 hover:no-underline") Resources >
			else
				#cta.flex.gap-6
					a.block.bg-pink-800.border-pink-800.border.text-white.py-2.px-10.font-bold(href="/register" class="hover:bg-pink-700 hover:no-underline") Sign up
					a.block.text-pink-800.py-2.border.border-transparent.px-4(href="/login" class="hover:border-pink-800 hover:no-underline") Log in >

		#right-side.flex-1
			img(src="/img/laptop.jpg", alt="A woman in casual clothes using a laptop outside")
