extends layouts/default.pug

block variables
	- const title = "Homepage"

block content
	h1 Homepage
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus in sem non egestas. Duis ornare nibh sit amet felis dignissim efficitur. Quisque pretium ligula eget pellentesque finibus. Ut id fringilla nunc. Aliquam maximus, tellus sit amet scelerisque luctus, velit enim ullamcorper augue, auctor auctor nulla turpis nec magna. Nam fermentum nulla vehicula elementum aliquam. Suspendisse molestie tincidunt iaculis. Mauris ut sapien vel augue tristique accumsan et vitae ligula. 
