extends layouts/default.pug

block variables
	- const title = "#100Devs Progress Tracker"

block content
	h1.mb-4 #100Devs Progress Tracker
	p.mb-2 This is an extension of the original #[a(target="_blank" href="https://labrocadabro.github.io/100devs-hw-tracker/") #100Devs Homework Tracker] that I made when I was starting out in the program. 
	p This tracker is currently in beta, but I believe the core functionality is stable and you shouldn't need to worry about losing any progress you record here. I'm currently working on a way to import progress from the original tracker, so if you don't want to transfer everything manually, please wait a bit longer. It should be ready within the next few days (from Oct 15).