extends layouts/default.pug

block variables
	- title = "Sign In"
	- active = "Login"

block content
	form.auth-form(action="/login" method="post")

		h1 Log In

		label(for="email") Email
		input#email(type="email", name="username" placeholder="Ex: john@smith.com")

		label(for="pwd") Password
		input#pwd(type="password", name="password" placeholder="Enter password")


		button.btn.primary(type="submit") Log In
		a.btn.secondary(href="/oauth/google") Log In with Google
		a.btn.secondary(href="/oauth/github") Log In with Github

		div.text-center.text-base #[a(href="/register") Create an account] | #[a(href="/forgot") Forgot password]
