extends layouts/default.pug

block variables
	- title = "Sign Up"
	- active = "Register"

block content
	form.auth-form(action="/register" method="post")

		h1 Sign Up

		label(for="email") Email
		input#email(type="email", name="username" placeholder="Ex: john@smith.com")

		label(for="pwd") Password
		input#pwd(type="password", name="password" placeholder="Enter password")

		label(for="conf") Confirm
		input#conf(type="password", name="confirm" placeholder="Reenter password")

		button.btn.primary(type="submit") Sign Up
		a.btn.secondary(href="/oauth/google") Sign Up with Google
		a.btn.secondary(href="/oauth/github") Sign Up with Github

		div.text-center.text-base #[a(href="/login") Log in] | #[a(href="/forgot") Forgot password]
