extends layouts/default.pug

block variables
	- title = "Reset Password"

block content
	form.auth-form(action="/reset" method="post")
		input(type="hidden" name="username" value=email)
		input(type="hidden" name="token" value=token)

		h1 Reset Password

		label(for="pwd") Password
		input#pwd(type="password", name="password" placeholder="Enter password")

		label(for="conf") Confirm
		input#conf(type="password", name="confirm" placeholder="Reenter password")

		button.btn.primary(type="submit") Reset Password
