p &copy; 2022 #[a(href="https://abrocadabro.com/" target="_blank") Laura Abro]. Code available under MIT license. #[a(href="https://github.com/labrocadabro/communitytaught") View this project on Github]. 
p This site is not associated with or endorsed by 100Devs or Leon Noel.