footer(class="px-5 sm:px-8 lg:px-14 py-3 sm:py-5 mt-auto bg-stone-50 border-t border-stone-200 text-center shadow-[-3px_-3px_15px_-12px_rgba(0,0,0,.3)]")
	p Website by #[a(href="https://abrocadabro.com/" target="_blank") Laura Abro]. Code available under MIT license. #[a(href="/about") About the project] | #[a(href="https://github.com/labrocadabro/communitytaught") View on Github]
	p Official 100Devs links: #[a(href="https://leonnoel.com/100devs/") Website] | #[a(href="https://leonnoel.com/discord/") Discord] | #[a(href="https://twitter.com/leonnoel") @leonnoel]
	p This site is not associated with or endorsed by 100Devs or Leon Noel.
