p Website by #[a(href="https://abrocadabro.com/" target="_blank") Laura Abro]. Code available under MIT license. #[a(href="https://github.com/labrocadabro/communitytaught") View this project on Github]. 
p Official 100Devs links: #[a(href="https://leonnoel.com/100devs/") Website] | #[a(href="https://leonnoel.com/discord/") Discord] | #[a(href="https://twitter.com/leonnoel") @leonnoel]
p This site is not associated with or endorsed by 100Devs or Leon Noel.