nav.flex.items-center
	h3.mr-auto
		a(class="p-0 m-0 text-twilight-800 no-underline text-2xl lg:text-3xl font-logo" href="/") #communitytaught
	ul#mobile-menu(class="sm:hidden text-3xl text-pink-800")
		li
			i.fa.fa-bars
	ul#desktop-menu(class="hidden sm:flex gap-2 lg:gap-4 [&>li]:flex [&>li]:justify-center [&>li]:items-center")
		if loggedIn
			li
					a(href="/dashboard" class = active === "Dashboard" ? "active" : "") Dashboard
		li 
			a(href="/class/all" class = active === "Classes" ? "active" : "") Classes
		li 
			a(href="/hw/all" class = active === "Homework" ? "active" : "") Homework
		li 
			a(href="/resources/" class = active === "Resources" ? "active" : "") Resources
		if loggedIn
			li#account-menu.relative
				span.no-mobile
					i.fa-regular.fa-user-circle.text-3xl.text-pink-800.cursor-pointer
				ul#account-dropdown(class="hidden absolute z-10 bg-white top-12 -right-5 border border-twilight-200 [&>li]:px-6 text-center")
					li.no-mobile.cursor-default.pt-4.pb-2.bg-gray-100.border-y.border-twilight-200 #{user.username}
					li#account-first.pt-2
						a(href="/account" class = active === "Settings" ? "active" : "") Settings
					li#account-last.pb-4
						a(href="/logout") Logout
		else
			li 
				a(href="/login" class = active === "Login" ? "active" : "") Login
			li 
				a(href="/register" class = active === "Register" ? "active" : "") Register
