extends ../_layouts/default.pug

block variables
	- title = "Additional Resources"
	- active = "Resources"

block content
	h1 Additional Resources
	#card-container
		.card
			a(href="/resources/faq")
				h2 FAQ
				span What is 100Devs? How do I get started? Get answers to all your questions about the program.
		.card
			a(href="/resources/downloads")
				h2 Downloads
				span Downloadable materials to help with freelancing and job hunting.
		.card
			a(href="/resources/stream-team")
				h2 Stream Team
				span Videos from community members to give extra support for course materials.

		.card
			a(href="/resources/huntober-challenges")
				h2 Coding Challenges
				span Daily Huntober coding challenges and their solutions.

		.card
			a(href="/resources/tea-spills")
				h2 Tea Spill Notes
				span Advice from 100 Devs alumni who got the job.
