extends ../layouts/default.pug

block variables
	- title = "100Devs Downloadable Resources"
	- active = "Resources"

block content
	h1 100Devs Downloads
	#card-container
		.card
			a(href="https://stuffandnonsense.co.uk/projects/contract-killer" target="_blank")
				img(src="/img/resources/downloads/contract-killer.png")
				h2 Freelancing Contract 1
				span Contract Killer, UK focused. Just use the free version, don't pay.
		.card
			a(href="https://github.com/samuelsycamore/contract-killer" target="_blank")
				img(src="/img/resources/downloads/ca-contract-killer.png")
				h2 Freelancing Contract 2
				span Contract Killer, Sam's US/California version.
		.card
			a(href="https://templates.proposify.com/proposal-template/responsive-web-design/609302" target="_blank")
				img(src="/img/resources/downloads/proposify-proposal.png")
				h2 Freelancing Proposal 1
				span From Proposify.
		.card
			a(href="https://s3-us-west-2.amazonaws.com/pandadoc-prod-public-templates/sBANW87i68cHdvsjFyyEP7/template.pdf")
				img(src="/img/resources/downloads/pandadoc-proposal.png")
				h2 Freelancing Proposal 2
				span From PandaDoc. Direct PDF download.
		.card
			a(href="https://docs.google.com/document/d/1XgHvZ5wS6DWyqX2ABMiMq4CmGkYtDOUf/" target="_blank")
				img(src="/img/resources/downloads/bob-coder-resume.png")
				h2 Resume
				span Bob Coder example resume.
		.card
			a(href="https://docs.google.com/spreadsheets/d/1Be-6gYvrfi8l-M0RnObzdysRIG7N7Yyu6rIF0OHw0Q4/edit#gid=1771441293" target="_blank")
				img(src="/img/resources/downloads/networking-sheet-hitlist.png")
				h2 Networking Sheet
				span Hitlist is on the second tab.
		.card
			a(href="https://docs.google.com/document/d/1aORTUsBzmpVzgCddkJkur5BubCjVTZ-OTSL3iT4YYNg/" target="_blank")
				img(src="/img/resources/downloads/leons-hitlist-messages.png")
				h2 Hitlist Messages
				span Done by Leon live on stream.
		.card
			a(href="https://resilientcoders.notion.site/100devs-Email-Templates-ea2a8c9bef5646549b3b1702281b0a45" target="_blank")
				img(src="/img/resources/downloads/email-templates.png")
				h2 Email Templates
				span Provided by the Fairy Job Mother, Stephanie Castaños.
		.card
			a(href="https://docs.google.com/document/d/1p7DhCsLOMMybYfePWLlD1-_8KU20zkBoArH4pnW1o3c/edit" target="_blank")
				img(src="/img/resources/downloads/the-bank.png")
				h2 The Bank
				span Behavioral and technical interview questions.
