extends ../layouts/default.pug

block variables
  - const title = "100Devs Frequently Asked Questions"
  - const active = "FAQ"

block content
  h1 100Devs Downloads 

  ul 
    li #[a(href="https://stuffandnonsense.co.uk/projects/contract-killer") Sample Freelancing Contract (Contract Killer, just use the free version)]
    li #[a(href="https://github.com/samuelsycamore/contract-killer") Sample Freelancing Contract (Contract Killer, Sam's US/California version)]
    li #[a(href="https://templates.proposify.com/proposal-template/responsive-web-design/609302") Sample Freelancing Proposal (Proposify)]
    li #[a(href="https://s3-us-west-2.amazonaws.com/pandadoc-prod-public-templates/sBANW87i68cHdvsjFyyEP7/template.pdf") Sample Freelancing Proposal (Panda Doc, direct download)]
    li #[a(href="https://docs.google.com/document/d/1XgHvZ5wS6DWyqX2ABMiMq4CmGkYtDOUf/") Bob Coder Sample Resume]
    li #[a(href="https://docs.google.com/spreadsheets/d/1Be-6gYvrfi8l-M0RnObzdysRIG7N7Yyu6rIF0OHw0Q4/edit#gid=1771441293") Networking Sheet/Hitlist]
    li #[a(href="https://docs.google.com/document/d/1aORTUsBzmpVzgCddkJkur5BubCjVTZ-OTSL3iT4YYNg/") Hitlist messages done live on stream]
    li #[a(href="https://resilientcoders.notion.site/100devs-Email-Templates-ea2a8c9bef5646549b3b1702281b0a45") Email Templates]
    li #[a(href="https://docs.google.com/document/d/1p7DhCsLOMMybYfePWLlD1-_8KU20zkBoArH4pnW1o3c/edit") The Bank]