extends ../layouts/default.pug

block variables
	- title = "100Devs Frequently Asked Questions"
	- active = "Resources"

block content
	h1 100Devs Frequently Asked Questions
	dl
		dt#what-is-100devs
			h3 What is 100Devs?
		dd
			p 100Devs is a diverse and inclusive community of 1000s of participants in a training program run by #[a(href="https://leonnoel.com/" target="_blank") Leon Noel]. It is 100% free and requires absolutely no previous technical experience.
			p As Leon says, #[em this is not a coding bootcamp, this is a how to get a job bootcamp]. While the course does teach the necessary technical skills to get a job as a full stack developer, it's unique because it also covers networking, resumes, job applications, the interview process, and freelancing. Even if you're already technically proficient but you're struggling to find a job, you'll find value here.

		dt#how-does-it-work
			h3  How does it work?
		dd
			p Live classes are streamed on #[a(href="https://www.twitch.tv/learnwithleon" target="_blank") Twitch] Tuesdays and Thursdays and office hours (review classes) are streamed on Sundays. Recordings of all classes are available on #[a(href="https://www.youtube.com/playlist?list=PLBf-QcbaigsJysJ-KFZvLGJvvW-3sfk1S" target="_blank") Youtube], however, office hours (which are not essential) are only on Twitch and are deleted after 60 days. Follow along materials are available on the #[a(href="https://leonnoel.com/discord" target="_blank") Discord] and there are some community-made resources as well (see below). Homework is assigned at the end of each class, some of which should be submitted.
			p The material is self-paced. Although it's called the Catchup Crew, your goal is not to catch up to live classes. This is a significant time investment and you should give yourself the time and space to complete it according to your schedule and your constraints.
			p The material is also self-directed. You get out what you put in, and that means you need to have a certain amount of focus and self-motivation to be successful. Having said that, we are community-taught and community-supported. Join the #[a(href="https://leonnoel.com/discord" target="_blank") Discord], find #[a(href="https://twitter.com/search?q=%23100Devs" target="_blank") #100Devs on Twitter]. If you're struggling, if you need help, if there's something you can't figure out, ask! There is always someone around who's willing to lend a hand.

		dt#how-do-i-start
			h3  How do I get started?

		dd There's nothing special you need to do, just start watching the classes and doing the homework. The classes are on #[a(href="https://www.youtube.com/playlist?list=PLBf-QcbaigsJysJ-KFZvLGJvvW-3sfk1S" target="_blank") Youtube] and the follow along materials and homework assignments are available on the #[a(href="https://leonnoel.com/discord" target="_blank") Discord]. Tracking the classes and materials from Discord can be difficult, though, so I recommend you check out these community-made resources to make the process easier (there are a few others but these are the ones that are up to date):
			ul
				li This site!: I #[em believe] this is the most comprehensive option for tracking your class and homework progress, but if you don't like it for any reason, see the other options below. Includes slides, follow-along materials, and check-in links as well as direct links to relevant homework materials. Shows homework assigned/due for each class. As of Oct 20, 2022: up to date until class 63 (latest).
				li #[a(href="https://100devsfollowalong.netlify.app/" target="_blank") 100Devs Follow Along]: Class videos and links to slides and follow-along materials. No check-in links. Shows homework assigned/due for each class. Updates when the videos are uploaded on Youtube. Includes slides and follow-along materials. As of Oct 20, 2022: up to date until class 52 (latest on Youtube).
					img(src="/img/resources/follow-along.png" alt="100Devs Follow Along Screenshot")
				li #[a(href="https://docs.google.com/document/d/177Ls9QS5ryjPBi82cjDnbtse5Of0RFl8/edit" target="_blank") 100 Devs Homework Checklist]: A Google Docs checklist. Includes check-in links, but no slides or follow-along materials. As of Oct 20, 2022: up to date to class 60.
					img(src="/img/resources/homework-checklist.png" alt="100 Devs Homework Checklist Screenshot")
				li #[a(href="https://labrocadabro.github.io/100devs-hw-tracker/" target="_blank") 100 Devs Homework Tracker]: A web-based tool (made by me!) that focuses specifically on homework tracking, so no slides, check-in links, or follow-along maerials, but does have links to relevant homework materials. As of Oct 20, 2022: up to date to class 63 (latest).
					img(src="/img/resources/homework-tracker.png" alt="100 Devs Homework Tracker Screenshot")
				li #[a(href="https://winchy82dev.notion.site/12268a73ea854ae9bff22660d8a42274?v=403f5589c3734d09a3874648dfcb86fa" target="_blank") 100Devs Course List]: A notion site that includes classes and homework. Has slides and follow-along materials, but no check-in links. As of Oct 20, 2022: up to date to class 59.
				li #[a(href="https://docs.google.com/spreadsheets/d/1wyxTkcpVuz6hjc-LF734gEYxQN6DY95XEXQx7tEJm1E/edit#gid=0" target="_blank") Learn with Leon #100Devs Bootcamp 2022]: A Google Docs spreadsheet that covers classea and homework. Includes slides but no follow-along materials or check-in links. As of Oct 20, 2022: up to date to class 61.
				li #[a(href="https://leonstreamscripts.herokuapp.com" target="_blank") Leon Stream Scripts]: searchable Youtube subtitles. Extremely useful when you remember something was mentioned but you forget which class. As of Oct 20, 2022: up to date to the latest Youtube class (47).
					img(src="/img/resources/stream-scripts.png" alt="Leon Stream Scripts Screenshot")
				li And join the #[a(href="https://leonnoel.com/discord" target="_blank") Discord]! There are so many people there willing to help with any questions you have, big or small.

		dt#am-i-too-late
			h3  Am I too late? Should I wait for the next cohort?
		dd
			p The first cohort was conducted in 2021; the second cohort is now over. However, you're not too late! New people are joining every day, and Leon is working on systems to ensure that we can complete the course even after live classes have ended.
			p A new cohort is looking increasingly likely but is not yet guaranteed, and there's a lot of work that needs to be done before it will be possible. Even if it does happen, we have no idea when.
			p Additionally, waiting means not learning. There's no reason to delay!  And if another cohort does start and you've been going through the catchup material, you'll have a head start.
			p In other words, start now and don't wait for a hypothetical future cohort!

		dt#will-the-content-be-deleted
			h3  Will the content be taken down at some point? Do I need to worry about losing access?
		dd
			p Leon has said he'll keep the content up on Youtube permanently, and he's also looking into adding open source/open content licenses to everything.
			p The community-made resources are a little trickier, but most people have hosted their resources on free services that are unllikely to disappear (Github, Google Docs, etc). I am committed to keeping this site up as long as 100Devs exists. And while these are often very useful, they're never necessary.

		dt#where-are-the-channels
			h3  I can't see all the channels on Discord! How do I get access to them?
		dd As part of joining the Discord, you need to accept the rules and choose your roles. See the #[a(href="https://discord.com/channels/735923219315425401/735925942559440997" target="_blank") #read-first] channel.

		dt#how-do-i-join-a-house
			h3  How do I join a house?
		dd Originally there were houses for different levels of commitment to the program, but this cohort exploded in popularity and the houses were dropped early on. House Turing was re-introduced for Huntober but its importance is minimal and it is currently unavailable to new applicants.

		dt#how-do-i-join-a-study-group
			h3  How do I find an accountability buddy or study group?
		dd
			p Check the Catchup Crew channel on Discord, every 2-4 weeks someone makes a new study group for members who have recently joined. If there's no recent group, go ahead and make one and invite others to join!
			p There is also the #[a(href="https://docs.google.com/spreadsheets/d/1oZRvtvaP6AF0sxAn4dMZoDgR0AEntQvR0zJhNTixNhc/edit#gid=0" target="_blank") Catchup Crew Google Sheet] to keep track of where people are in the program, but it requires people to manually update as they progress, so it may not be accurate.

		dt#how-do-i-make-anki-cards
			h3  How should I make my Anki cards? Is there any premade deck I can use?
		dd
			p #[strong First a word of warning: Make sure you are using #[a(href="https://apps.ankiweb.net/" target="_blank") Anki], #[a(href="https://play.google.com/store/apps/details?id=com.ichi2.anki&amp;hl=en&amp;gl=US" target="_blank") AnkiDroid], or #[a(href="https://apps.apple.com/us/app/ankimobile-flashcards/id373493387" target="_blank") AnkiMobile] (unfortunately this one is not free and Leon recommends using the web version of Anki instead), NOT Anki App. Anki App is a copycat that is not affiliated with the Anki project and is not compatible with it.]
			p What you add to your deck is a personal decision based on what exactly you need to review, but in general, you will want to use Anki for important things you might forget or that feel complex and you need more review of the concepts. A lot of the early code will become familiar quickly because you'll be using it so much. And some things you encounter will be used so rarely you can just look them up when you need them.
			p As for what to put on each card, try to keep questions and answers short and simple. Ideally each card should deal with exactly one fact/concept. Break up more complex topics into smaller pieces where possible. The type-in answer option is great for coding questions.
			p Once you get to Codewars, it's recommended that if you attempt a challenge and can't complete it after 20 min or so, you should check the solutions and add it to your Anki deck for review.
			p It is #[em highly, highly] recommended that you make your own Anki deck. Not only will it ensure that the questions and answers are customized to your needs, the process of making the cards is an excellent form of review in itself. If you use a premade deck, you're missing out on that learning opportunity.
			p Having said that, some people like to see what others have done just to get ideas for their own deck. A few resources are available:
				ul
					li #[a(href="https://github.com/mac-kenzie-lee/ankiDeckSE" target="_blank") Anki Deck SE]: this is not a deck specific to 100Devs, rather a template for more attractive cards that was made by a 100Devs member.
					li #[a(href="https://github.com/abhisheknage/100Devs-Anki-Deck" target="_blank") 100Devs Anki Deck]: this is a deck a 100Devs member shared. Again, I caution you to use it only for reference for how you might make your own cards.
					li #[a(href="https://github.com/curtisbarnard/BANKI" target="_blank") Banki Answers]: this one is not specifically for Anki, it's actually a template for filling out your Banki answers, with a completed version you can use for inspiration if necessary.

		dt#how-do-i-checkin
			h3  How do I check in?
		dd Each check-in link will take you to one of Leon's tweets. To check in, just like and retweet it.

		dt#should-i-checkin
			h3  Should I check in on Twitter for classes that happened months ago?
		dd Yes. Check in for each class as you watch it. It's one of the requirements that will be checked when you're looking for work and you'd like a verification or reference from Leon.

		dt#whhere-are-the-checkins
			h3  Where are the check-in links?
		dd Currently the easiest way to find the check-in links is #[a(href="/class/all" target="_blank") the class listing], but you can also find them in #[a(href="https://docs.google.com/document/d/177Ls9QS5ryjPBi82cjDnbtse5Of0RFl8/edit" target="_blank") this homework checklist].

		dt#where-are-the-office-hours
			h3  Are the office hours videos still avalable?
		dd The office hours videos are deleted from Twitch after 60 days, so most of them are no longer available. A 100Devs member in the catchup crew did make a partial (unlisted) Youtube playlist of office hours they downloaded from Twitch, but it doesn't start from the beginning of the cohort and may not be updated any longer. You can find the link in the Catchup Resources thread in the Catchup Crew channel on Discord.

		dt#should-i-submit-homework
			h3  I'm doing all the homework, but should I submit it? Will anyone check it?
		dd Yes, you should submit it. No one is going to look at it and give you feedback, but as with checking in, it's one of the requirements for verification down the line. Do keep in mind that while your homework won't be checked when you submit it, there's a good chance someone will look at it if you ask for verification, to confirm you actually did the work.

		dt#where-are-the-solutions
			h3  I need solutions for XX homework. Where can I find them?
		dd Most homework does not have provided solutions. If you build something and it looks/works the way you want it to, you did it right. If you can't figure out how to get something to work, ask for help!

		dt#where-are-the-downloads
			h3 I am looking for the resources like the hitlist, sample resume, etc. Where can I download them?
		dd All the downloadble resources provided by Leon are available #[a(href="/resources/downloads") here].

		dt#can-i-skip-ahead
			h3  I already know XX. Should I start from Class 1? Can I get verified if I don't do all the classes?
		dd
			p Definitely watch class 1 and do the homework, even if you intend to skip ahead. #[em Learning How to Learn] is extremely important.
			p I personally think it's worth starting from the beginning, even if you have some experience already. If you decide to start from the beginning but some material is familiar, you can watch classes on 1.5x or 2x, or skip sections you don't need. But it's not necessary to do so, the choice is yours. You can still get verification if you don't do the early homework; Leon annouced a clean slate in class 32, so anything you missed before that will be forgiven.
			p If you already know some topics well, you can skip the earliest classes. A popular entry point in that case is the #[a(href="/class/frontend-crash-course-super-review" target="_blank") Front End Super Review] after class 18 (#[a(href="https://www.youtube.com/watch?v=AkXLGS57MS4" target="_blank") Youtube]) or the #[a(href="/class/javascript-crash-course-super-review" target="_blank") Javascript Super Review] after class 34 (#[a(href="https://www.youtube.com/watch?v=1sRJYuaqoiI" target="_blank") Youtube]).
			p If you are only looking for job hunting/freelancing advice, you can skip most of the classes, but you won't be able to get verification. Classes relevant to job hunting:
				ul
					li #[a(href="/class/networking-night") 9: Networking Nght] (#[a(href="https://youtu.be/OaglXfjsBaE" target="_blank") Youtube])
					li #[a(href="/class/how-to-start-freelancing") 15: How to Start Freelancing] (#[a(href="https://youtu.be/68Li7ukgDKg" target="_blank") Youtube])
					li #[a(href="/class/fix-your-resume-so-you-get-tech-interviews") 25: Fix Your Resume] (#[a(href="https://youtu.be/ZlB4BockYNQ" target="_blank") Youtube])
					li #[a(href="/class/why-you-are-not-getting-interviews") 33: Why You Are Not Getting Interviews] (#[a(href="https://youtu.be/lIE1LFz4LJM" target="_blank") Youtube])
					li #[a(href="/class/crush-your-technical-interviews") 34: Crush Your Technical Interviews] (#[a(href="https://youtu.be/lIE1LFz4LJM" target="_blank") Youtube])
			p These are the dedicated classes, but not the only ones that cover job-related topics. For other mentions, you can check the #[a(href="https://leonstreamscripts.herokuapp.com" target="_blank") searchable subtitles].

		dt#should-i-do-missed-checkins-and-homework
			h3  I missed some of the early check-ins or homework, do I need to go back and do them?
		dd Leon announced a fresh start in class 32, so anything you missed before then, you don't have to go back and do. However keep in mind that:
			ol
				li The course is completely free and takes a significant amount of effort on Leon's part
				li He asks you to check-in to help increase the reach of the course
				li The homework is your skills training, so even if you don't submit it you should still do it

		dt#how-do-i-get-verified
			h3  What exactly do I need to do for verification?
		dd Vertification is still being hashed out and is currently only available at certain times (this is expected to change in the future). The next wave of verifications is expected to have a due date of Nov 1, 2022 but future waves are planned. Based on the Huntober submission form that was recently released, Leon will ask for the following:
			ul
				li Bio blurb
				li Github profile (make sure you've got your green squares)
				li Codewars profile (make sure you've got plenty of completed katas)
				li Screenshot of Anki deck (make sure you've been creating and reviewing cards)
				li Angellist profile
				li Portfolio
				li Twitter account (make sure you've done all the class check-ins)
				li Cover letter and cover email
				li Resume
				li Linkedin profile
				li Hitlist/Networking Sheet (These can be one document or separate. Leon asks that you do networking weekly, so your networking sheet should have an appropriate number of connections and coffee chats)
				li Binary Upload Boom group project
				li Information on a paid client (amount earned and website) OR organization you volunteered for OR approved pull request on open source project (must be a real contribution, not a 'first contribution' like fixing a typo)
				li repo for completed 100 hours project (for the first wave this was just the MVP but Leon has said that going forward you will need to have the project complete)
				li link to hosted 100h project if available (this may become mandatory once Leon has covered an alternative to Heroku)
				li and it's not mentioned on the Huntober form but make sure you've submitted all the homework from class 32 onward

		dt#where-are-the-missing-classes
			h3  Where are the missing classes?
		dd Some classes aren't on Youtube. This is because they weren't regular classes. If you see that a class is missing, you can just move on to the next one; you haven't missed anything.
			ul
				li Class 17: Networking Night
				li Class 18: Project Night
				li Classes 42 &amp; 43: Welcome Back sessions after a long break
				li Class 49: Catchup for Huntober Prep Work
				li Class 53+: Not yet on Youtube, but #[a(href="/classes/all") the Twitch classes are available].

		dt#how-do-i-finish-the-readings
			h3  I'm stuck on the readings! How do I get through them?
		dd
			p Some of the readings can be dense and everything you absolutely need to know is covered in class, but Leon assigns everything for a reason. The reading helps you get some familiarity with the concepts before Leon teaches them. And probably more importantly, on the job you will be required to read documentation, so you do need to get used to parsing technical language.
			p However, that doesn't mean you need to understand every single point that's covered. Read to get a basic understanding and move on. And if you're getting completely derailed by the reading and you've been stuck on it for weeks, move on and make a note to revisit it later when you're more familiar with the concepts.

		dt#can-i-skip-floats
			h3  I'm stuck on floats! Can I just use Flexbox and Grid instead?
		dd
			p Similar to the readings, Leon assigns everything for a reason. There is legacy code out there still using floats, because Flexbox and Grid weren't always well supported. You really should have at least a basic understanding of how they work.
			p And similar to the readings, don't spend too much time on floats. You probably won't actually use them all that much, and if you're stuck to the point you can't move on, it's better to take another look at them after you've learned more.

		dt#codewars-is-really-hard
			h3 I can't solve any Codewars katas! What do I do?
		dd
			p First of all, understand that this is common when you're just starting out. Codewars can be overwhelming and confusing at first, and you could go through many katas before you start to understand how to do them. That's completely OK!
			p The first thing you need to do, is don't just take whatever random suggestion Codewars gives you for your next kata. Make sure you are filtering and sorting them to get the easiest katas first. This link will take you to the codewars search page filtered for 8kyu fundamentals kata and sorted by most completed. If any kata on the list feels too difficult, scroll past it and look for ones that feel doable.
			p The second important thing you need to do is only spend 20 minutes trying to solve a kata. If you feel like you're close to the answer but can't quite make it, bookmark it and come back to try again in a day or two. If you feel like you're not getting anywhere with it, look at the solutions until your find one that you understand. Learn the process that was used, then close the solution and go back to the kata and do it again using the method you just learned (without looking at the solution). Add it to your Anki deck for study, and make note of it to come back and try it again after some time.

		dt#how-do-i-put-codewars-on-github
			h3  How do I put my Codewars katas on Github?
		dd
			p Create a private repository just for Codewars. The most common method is a to create a new file for each kata you complete, and paste your solution in it when you complete the kata.
			p For example, my directory structure looks like this:
				img(src="/img/resources/codewars-organization.png" alt="my codewars directory structure, organized by language then kyu")
			p Rufio (a member of the Stream Team) also has a video on her #[a(href="https://www.youtube.com/watch?v=HazQz4qosR4" target="_blank") codewars workflow].

		dt#how-do-i-backdate-git-commits
			h3  I have old katas I didn't upload to Github. How do I backdate git commits?
		dd Rufio has two videos you can check out, one on her #[a(href="https://www.youtube.com/watch?v=HazQz4qosR4" target="_blank") entire codwars workflow] and one on #[a(href="https://www.youtube.com/watch?v=uFRY6Gxw9EA" target="_blank") how to backdate commits].

		dt#how-do-i-get-private-repo-green-squares
			h3  How do I get Github green squares for private repositories?
		dd Go to your profile and find your contribution graph. In the top right, there's a dropdown that says 'Contribution settings'. From there make sure 'Private Contributions' is checked.
			img(src="/img/resources/contribution-graph.png" alt="Contribution Graph")
			img(src="/img/resources/private-contributions.png" alt="Private Contributions")

append scripts
	script(src="/js/accordion.js")
