extends ../layouts/default.pug

block variables
	- title = "Additional Resources"
	- active = "Resources"

block content
	h1 Additional Resources
	#card-container
		.card
			a(href="/resources/faq")
				h2 FAQ
				span What is 100Devs? How do I get started? Get answers to all your questions about the program.
		.card
			a(href="/resources/downloads")
				h2 Downloads
				span Downloadable materials to help with freelancing and job hunting.
		.card
			a(href="/resources/community-projects")
				h2 Community Projects
				span Projects created by the 100Devs Community for the community.
