extends ../layouts/default.pug

block variables
  - title = "100Devs Stream Team Videos"
  - active = "Resources"

block content
  h1 Stream Team Videos

  h2
    a(href="https://www.youtube.com/channel/UCthaCpfAkt_gOFku4JOHJtQ") Mayanwolfe
  h3 Not on Youtube Channel
  ul.list-disc.ml-7
    li
      a(href="https://youtu.be/sjdsDxqt8vY") CSS Floats (Feb 14, 2022)
    li
      a(href="https://youtu.be/RPlBictn2sI") Media Queries and Flexbox (Feb 17)
    li
      a(href="https://youtu.be/7WCSg03Tmg4") Simple Calculator using JavaScript (Feb 21)
    li
      a(href="https://youtu.be/IoCc9TvP_u4") Daily Music Generator using JavaScript (Feb 24)
    li
      a(href="https://youtu.be/QpXoCKj2BeI") High-Low Number Guessing Game using JavaScript (Feb 28)
    li
      a(href="https://www.youtube.com/watch?v=HUOHhXs2HZs") Rock-Paper-Scissors Game and Hard HW Questions (March 7)

  h3 On Youtube Channel
  ul.list-disc.ml-7
    li
      a(href="https://www.youtube.com/watch?v=vRt75vf4H4U") First Twitch Stream - Homework Review (March 09)
    li
      a(href="https://www.youtube.com/watch?v=PGFDG6DE1Oo") JavaScript Homework Review (March 16)
    li
      a(href="https://www.youtube.com/watch?v=2vkxIU4ORwI") Eloquent JS HW Review (March 18)
    li
      a(href="https://www.youtube.com/watch?v=pTeiYFUUUwk") Wordle Clone Build (March 20)
    li
      a(href="https://www.youtube.com/watch?v=LDrobtfg0UU") Array Method Review (March 23)
    li
      a(href="https://www.youtube.com/watch?v=5-Wb3dwjQAQ") Object Review (March 27)
    li
      a(href="https://www.youtube.com/watch?v=EOu1mtlvjfQ") Animated Screensaver Project (March 30)
    li
      a(href="https://www.youtube.com/watch?v=4PYz816N2FQ") Object Calculator Project (April 03)
    li
      a(href="https://www.youtube.com/watch?v=rHnC-7h6338&t=13s") Doggo Generator API Project (April 06)
    li
      a(href="https://www.youtube.com/watch?v=wFazhLIFy5E&t=873s") Food Checker API Project (April 10)
    li
      a(href="https://www.youtube.com/watch?v=K7QN8ibm5VQ") Jeopardy API Project (April 13)
    li
      a(href="https://www.youtube.com/watch?v=gEB21qHcPKg") Codewars 8Kyu Practice 1 (April 16)
    li
      a(href="https://www.youtube.com/watch?v=wEc47-DiqfU") Codewars 8Kyu Practice 2 (April ??)
    li
      a(href="https://www.youtube.com/watch?v=wjxH0g26Sa8") Codewars 8Kyu Practice 3 (April 23)
    li
      a(href="https://www.youtube.com/watch?v=WO9nuPAcGSM&t=64s") Snake Game Project (April 24)
    li
      a(href="https://www.youtube.com/watch?v=9VdCkIHyBpU") JSWay Chapter 09 (April 27)
    li
      a(href="https://www.youtube.com/watch?v=Jg8WuTYBemg") Eloquent JS Chapter 06 HW (May 01)
    li
      a(href="https://www.youtube.com/watch?v=f32ThSSgas8")  JS Class and Array Practice (May 04)
    li
      a(href="https://www.youtube.com/watch?v=zfGJKxqKLOA") Pokemon Pet Checker App (May 08)
    li
      a(href="https://www.youtube.com/watch?v=mkAPqPfdAgU") Promises and Asynchronous Tasks (May 11)
    li
      a(href="https://www.youtube.com/watch?v=9VDRUrcUj0M") Ask Me Anything Stream! (May 17)
    li
      a(href="https://www.youtube.com/watch?v=GruL7-gSCcc") BANKY Practice (May 18)
    li
      a(href="https://www.youtube.com/watch?v=VOfqO4-RLd4") Install Node.JS and Play With It (May 22)
    li
      a(href="https://www.youtube.com/watch?v=TmlyYKEzE_Q") CRUD App Tutorial Homework (May 29)

    li
      a(href="https://www.youtube.com/watch?v=oKKDUgpCvo0") Field Guide to Aliens (June 01)

    li
      a(href="https://www.youtube.com/watch?v=tS7VK8Qn7YA") FullStackOpen Node.js and Express Homework (June 05)

    li
      a(href="https://www.youtube.com/watch?v=t62PsjhCXTw") Add MongoDB to Heroku App (June 08)

    li
      a(href="https://www.youtube.com/watch?v=_g8zX-fYj4Q") Make Changes to MongoDB using the DOM (June 11)

    li
      a(href="https://www.youtube.com/watch?v=VkNG1UgrGT4") Windows 95 Screensaver (June 15)

    li
      a(href="https://www.youtube.com/watch?v=9hANpTNJO2Y") Auto-Completing Movie Finder App (JUne 18)

    li
      a(href="https://www.youtube.com/watch?v=cBl2mnd09kU") Make a Full Stack Template (June 22)

    li
      a(href="https://www.youtube.com/watch?v=McwD1Eab5zo") Practice Behavioral Questions (June 29)

    li
      a(href="https://www.youtube.com/watch?v=1wP4VfXOS0Q") Intro to SQL (July 02)

    li
      a(href="https://www.youtube.com/watch?v=cpC8hCQse_Y") Set Up User Login and Authentication (July 06)

    li
      a(href="https://www.youtube.com/watch?v=Duv6uKOHgbU") Power Hour (July 09)

    li
      a(href="https://www.youtube.com/watch?v=v19CgZeo4d8") Practice 5kyu CodeWars (July 13)

    li
      a(href="https://www.youtube.com/watch?v=s5FtvtYgc68") Build a Full Stack CRUD App from Scratch (July 16)

    li
      a(href="https://www.youtube.com/watch?v=VL44yeGLQDw") Review Promises and async/await (July 20)

    li
      a(href="https://www.youtube.com/watch?v=ymj446cRB_k") Get Ready for Tuesday's Class (July 23)

    li
      a(href="https://www.youtube.com/watch?v=3sSLrF6UMYo") Review Leon's CRUD Code (July 27)

    li
      a(href="https://www.youtube.com/watch?v=jumlU7EjJgA") Office Hours (and Fork Leon's Code) (July 30)

    li
      a(href="https://www.youtube.com/watch?v=p6nwq0JTau4") Traversy CRUD OAuth Homework Part 1 (Aug 06)

    li
      a(href="https://www.youtube.com/watch?v=M2h-zlGGYvc") Traversy CRUD OAuth Homework Part 2 (Aug 08)

    li
      a(href="https://www.youtube.com/watch?v=Ku4nLxcYR5w") Add Google OAuth to Leon's Code (Aug 10)

    li
      a(href="https://www.youtube.com/watch?v=x-kOAl38MBo") Ask Better Coding Questions (Aug 14)

    li
      a(href="https://www.youtube.com/watch?v=6B5DdjcWkPI") Practice MVC (Aug 17)

    li
      a(href="https://www.youtube.com/watch?v=vih47z_vG2I") Sharing My MVC Presentation (Aug 21)

    li
      a(href="https://www.youtube.com/watch?v=D2OnzAqrE-E") Prep for Week 1 of The Hunt (Aug 24)

    li
      a(href="https://www.youtube.com/watch?v=jo5GTErVBQU&t=13s") Explore Local Authentication and MVC (Aug 31)

    li
      a(href="https://www.youtube.com/watch?v=T5-T8_XZNGQ") Build a Menu Tracking App (Sep 03)

    li
      a(href="https://www.youtube.com/watch?v=Kq3O7XccIuw") Practice Array Method CodeWars and PREP (Sep 07)

    li
      a(href="https://www.youtube.com/watch?v=mx3PkDaiWpk") Activate Binary Upload Boom (Sep 09)

    li
      a(href="https://www.youtube.com/watch?v=GMEwkVV_Jus") Explore Binary Upload Boom (Sep 14)

    li
      a(href="https://www.youtube.com/watch?v=ttecLBR0fw0") BUB: Add Usernames and Delete Function to Comments (Sep 17)

    li
      a(href="https://www.youtube.com/watch?v=MFEmmHEm6nk") Explore the Basics of React Part 1 (Sep 24)

    li
      a(href="https://www.youtube.com/watch?v=xzVggz2XJy4") Explore the Basics of React Part 2 (Sep 28)

    li
      a(href="https://www.youtube.com/watch?v=QqTJvQSkj1I") Traversy React Crash Course (Sep 30)

    li
      a(href="https://www.youtube.com/watch?v=uCClLL6syJo") String Methods (Oct 05)

    li
      a(href="https://www.youtube.com/watch?v=8Ze-Nxlwwbk") Banki and Ask Me Anyhing (Oct 08)

    li
      a(href="https://www.youtube.com/watch?v=Mi6QAnwwlAA&t=9531s") Basics of Data Structures and Algorithms with Scotch.io (Oct 12)

    li
      a(href="https://www.youtube.com/watch?v=_DFHSFVpkXE") PREP Analysis on the Job (Oct 19)

    li
      a(href="https://www.youtube.com/watch?v=LeTR5mfFZt4") Big O Notation and FEM Practical Algorithms (Oct 22)

    li
      a(href="https://www.youtube.com/watch?v=CfmJWTHoXf0") Banki and Interview Prep (Oct 26)

    li
      a(href="https://www.youtube.com/watch?v=nQEBP0pYIQo") Practice LeetCode (Nov 02)

    li
      a(href="https://www.youtube.com/watch?v=tykncscV93Y") Ticket Tracker (Nov 06)

    //- end of cohort celebration Nov 09

    li
      a(href="https://www.youtube.com/watch?v=rehBAC2g-Q4") Turn Ticket Tracker into a Full-Stack App (Nov 13)

      //- Nov 20 - Tailwind CSS
      //- Dec 05 - Building Tetris


  h2
    a(href="https://www.youtube.com/@helloitsrufio") Rufio
  ul.list-disc.ml-7
    li
      a(href="https://www.youtube.com/watch?v=zzCp2GBFjfc") Codewars (March 30)
    li
      a(href="https://www.youtube.com/watch?v=eqS8TUX6IGg") Codewars (March 31)
    li
      a(href="https://www.youtube.com/watch?v=HazQz4qosR4") Codewars Workflow (April 04)
    li
      a(href="https://www.youtube.com/watch?v=NWCOq0AxPGU") Codewars + 100 Hours Project (April 07)
    li
      a(href="https://www.youtube.com/watch?v=XoLym4TI_2E") Questions + 100 Hours Project (April 21)
    li
      a(href="https://www.youtube.com/watch?v=h6WiaRiMs08") New Website from Scratch (April 28)
    li
      a(href="https://www.youtube.com/watch?v=_20u2ByykOw") Continuing Website from Scratch (May 02)
    li
      a(href="https://www.youtube.com/watch?v=WnDMRvoWkhc") Continuing Website from Scratch (May 05)
    li
      a(href="https://www.youtube.com/watch?v=WBaAaxQiMB8") The Hunt (May 12)
    li
      a(href="https://www.youtube.com/watch?v=SEPeRPzrRCw") 12 hours of Job Hunting, part 1 (May 14)
    li
      a(href="https://www.youtube.com/watch?v=SEPeRPzrRCw") 12 hours of Job Hunting, part 2 (May 14)
    li
      a(href="https://www.youtube.com/watch?v=aFm5EkSZg5g") Continuing the Job Hunt (May 16)
    li
      a(href="https://www.youtube.com/watch?v=9_ug2SWfINA") Codewars and Chatting (May 19)
    li
      a(href="https://www.youtube.com/watch?v=meUa4Evj1t4") Art Portfolio from Scratch (May 23)
    li
      a(href="https://www.youtube.com/watch?v=i7v2R9Fwj7c") Solving a 7kyu Kata (May 26)
    li
      a(href="https://www.youtube.com/watch?v=DOhnc64QCng") Continuing the Art Portfolio (May 30)
    li
      a(href="https://www.youtube.com/watch?v=WBXR3dOyQY0") Semantic HTML and CSS (May 31)
    li
      a(href="https://www.youtube.com/watch?v=m7PfkcBOqgA") Job Hunt (June 06)
    li
      a(href="https://www.youtube.com/watch?v=-VMFqfy6wow") Banki (June 09)
    li
      a(href="https://www.youtube.com/watch?v=40jqv5Zh7-U") Making Othello (June 09)
    li
      a(href="https://www.youtube.com/watch?v=l__3nIjUHKI") Continuing Othello (June 12)
    li
      a(href="https://www.youtube.com/watch?v=fZW2glNEQvs") Job Interview Review, Continuing Art Portfolio (June 16)
    li
      a(href="https://www.youtube.com/watch?v=2puw7GdWHY4") Finishing Art Portfolio (June 20)
    li
      a(href="https://www.youtube.com/watch?v=vU80Vn2XHAY") Typescript (June 27)
    li
      a(href="https://www.youtube.com/watch?v=F8QZMf2eL8E") Leetcode (June 30)
    li
      a(href="https://www.youtube.com/watch?v=RerDNXSomGc") Intro to Typescript (June 30)
    li
      a(href="https://www.youtube.com/watch?v=BCsZCdr6KIk") theuniverse.gg (July 07)
    li
      a(href="https://www.youtube.com/watch?v=d5UhVBCFw5Q") Leetcode: Two Sum (July 07)
    li
      a(href="https://www.youtube.com/watch?v=HR1uYg-3js4") Intro to Test Driven Development (TDD) (July 11)
    li
      a(href="https://www.youtube.com/watch?v=uRx90sNRlPE") Leetcode: Reversing Linked List (July 14)
    li
      a(href="https://www.youtube.com/watch?v=jUvQXLG5I_A") Mock Behavioral Interview (July 18)
    li
      a(href="https://www.youtube.com/watch?v=YuuBteefwHI") Q&A with a Tech Recruiter (July 24)
    li
      a(href="https://www.youtube.com/watch?v=3WfKZEJGQnI") Leetcode: More Linked Lists (July 24)
    li
      a(href="https://www.youtube.com/watch?v=S-M0NWLqxBE") Just Chilling (July 28)
    li
      a(href="https://www.youtube.com/watch?v=UnvQ64KqRyQ") 100 Hours Project: Nodemailer and OAuth2 (Aug 01)
    li
      a(href="https://www.youtube.com/watch?v=1h0Wao2xtXA") Talking Positively about Yourself in Interviews (Aug 04)
    li
      a(href="https://www.youtube.com/watch?v=qcvtHNf-GyQ") Leetcode: Valid Anagram (Aug 11)
    li
      a(href="https://www.youtube.com/watch?v=03Ttc8OjHsM") Intro to Agile (Aug 15)
    li
      a(href="https://www.youtube.com/watch?v=9WOhJ9pwTAo") Intro to Next.js (Aug 15)
    li
      a(href="https://www.youtube.com/watch?v=mcK8gmlFCog") Learning React and Next.js (Aug 18)
    li
      a(href="https://www.youtube.com/watch?v=8992SN97KaM") Coding Challenges: Factors and Factorials (Aug 22)
    li
      a(href="https://www.youtube.com/watch?v=PYaItfxcbXU") Let's Talk about Huntober (Aug 29)
    li
      a(href="https://www.youtube.com/watch?v=iD3RhMK6JEA") Coding Challenge: Get the Middle Character (Sep 01)
    li
      a(href="https://www.youtube.com/watch?v=nPfjS6CXRXM") 100 Hours Project: Making a Glossary (Sep 04)
    li
      a(href="https://www.youtube.com/watch?v=WOBUVgYeD8k") 100 Hours Project: Styling the Glossary (Sep 08)
    li
      a(href="https://www.youtube.com/watch?v=hlRJGbuFcSk") Leetcode: Contains Duplicates (Sep 12)
    li
      a(href="https://www.youtube.com/watch?v=Eio2Ni8ZGKQ") Codewars: 6, 7, 8kyu Katas (Sep 19)
    li
      a(href="https://www.youtube.com/watch?v=C3nrH9bQVVM") Intro to Obsidian (Sep 22)
    li
      a(href="https://www.youtube.com/watch?v=5XxQQRF5-BQ") 100 Hours Project: Authentication (Sep 26)
    li
      a(href="https://www.youtube.com/watch?v=QtnevOSAYn4") 100 Hours Project: Responsive Design (Oct 03)
    li
      a(href="https://www.youtube.com/watch?v=Y4tT_gMcYQY") 100 Hours Project: UI (Oct 10)
    li
      a(href="https://www.youtube.com/watch?v=bjRmJV5J7dU") Huntober Power Hour (Oct 13)
    li
      a(href="https://www.youtube.com/watch?v=SOaHTawQvDY") Code Challenge: Fibonacci (Oct 31)
    li
      a(href="https://www.youtube.com/watch?v=sLSWJVR1V5c") Q&A With a Tech Recruiter (Nov 07)
      //-  Nov 14 - Reviewing an Interview and Codewars
      //- Nov 29 - New Job!
      //-  Dec 06 - First Week at Work
