@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		@apply text-pink-800;
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
	h1 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}

	button, a.button {
		@apply py-2 px-5 border border-gray-700 rounded block mb-3 text-black no-underline hover:bg-gray-100;
	}

}
@layer components {
	.sign-form {
		@apply mt-5 max-w-md mx-auto border grid p-10 gap-2;
		grid-template-columns: auto 1fr;
	}
	.sign-form label {
		@apply text-right;
	}
	.sign-form div {
		@apply mt-2;
	}
	.sign-form button, .sign-form a.button {
		@apply w-full;
	}
	.flash {
		@apply w-full py-2 px-4 mb-4 border text-center font-bold relative;
	}
	.flash-close {
		@apply absolute right-3 cursor-pointer text-3xl;
		top: 0;
	}
	.flash-success {
		@apply bg-green-100 text-green-700 border-green-700;
	}
	.flash-error {
		@apply bg-red-100 text-red-700 border-red-700;
	}
	.flash-info {
		@apply bg-blue-100 text-blue-700 border-blue-700;
	}

	.settings {
		@apply mb-5;
	}
}
