@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		@apply underline text-vermillion-600;
	}
	a:hover {
		@apply no-underline;
	}
	nav a {
		@apply font-bold no-underline text-xl block rounded-md px-3 py-2 font-header;
	}
	nav a.active {
		@apply decoration-pink-800 underline decoration-3 underline-offset-6 hover:underline;
	}
	p {
		@apply mb-4;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-bold text-pink-800 font-header;
	}
	h1 {
		@apply text-4xl font-bold mb-8;
	}
	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-2xl font-bold;
	}

	button, a.button {
		@apply py-2 px-5 border border-gray-700 rounded block mb-3 text-black no-underline hover:bg-gray-100;
	}

}
@layer components {
	.sign-form {
		@apply mt-5 max-w-md w-full mx-auto border xs:grid p-4 xs:p-10 gap-2 bg-white;
		grid-template-columns: auto 1fr;
	}
	.sign-form label {
		@apply text-right;
	}
	.sign-form input {
		@apply w-full mb-4 xs:mb-0;
	}
	.sign-form div {
		@apply mt-2;
	}
	.sign-form button, .sign-form a.button {
		@apply w-full box-border;
	}
	.add-form {
		@apply mt-5 max-w-3xl mx-auto border grid p-10 gap-2 items-center;
		grid-template-columns: repeat(4, 1fr);
	}
	.add-form label {
		@apply text-right;
	}
	#timestamps, #hw-items, #pw-items {
		@apply mt-3 w-full border px-5 py-3;
	}
	.timestamp, .hw-item, .pw-item {
		@apply grid grid-cols-4 gap-2 items-center py-3 border-t border-dashed border-gray-700;
		grid-template-columns: repeat(4, 1fr);
	}
	.timestamp:first-of-type, .hw-item:first-of-type, .pw-item:first-of-type {
		@apply border-0;
	}
	.flash {
		@apply w-full py-2 px-4 mb-4 border text-center font-bold relative;
	}
	.flash-close {
		@apply absolute right-3 cursor-pointer text-3xl;
		top: 0;
	}
	.flash-success {
		@apply bg-green-100 text-green-700 border-green-700;
	}
	.flash-error {
		@apply bg-red-100 text-red-700 border-red-700;
	}
	.flash-info {
		@apply bg-blue-100 text-blue-700 border-blue-700;
	}

	.settings {
		@apply mb-5;
	}
}

/***** all lessons, all homework *****/
table {
	@apply text-center border bg-white w-full;
}
table tr {
	@apply border-b;
}
table tr:nth-child(even) {
	@apply bg-twilight-50;
}
table thead {
	@apply sticky top-0 z-10;
}
table th {
	@apply bg-twilight-800 text-stone-50 p-4 font-logo uppercase;
}
table td {
	@apply p-4 border-r;
}
table td:first-of-type {
	@apply p-2;
}
.hw-items, .hw-extras {
	@apply text-left;
}
.thumbnail, .motivation {
	max-width: 300px;
}
.hw-submit {
	width: 160px;
}
.homework .hw-items li {
	@apply relative ml-3;
}
.homework .required {
	@apply absolute -left-5 top-1 text-red-800 text-2xl cursor-default;
}
.homework .item, .homework .extra, .homework .submitted {
	@apply mr-1.5;
}
.homework .done, .lessons .done {
	opacity: 0.5;
}
.submit-button {
	@apply block mb-2 bg-pink-800 hover:bg-pink-700 font-logo text-stone-50 rounded-lg uppercase py-2 no-underline font-bold border border-pink-900 tracking-wider text-xl drop-shadow-md shadow-pink-900;
}

#to-top {
	@apply fixed bottom-4 right-1 text-pink-800 text-6xl cursor-pointer; 
}

/********* temporary ************/
#video-container {
	width: 640px;
}
#player {
	width: 640px;
	height: 360px;
}

/**** accordion ***/
dl {
	@apply bg-white py-2 xs:py-4 px-2 xs:px-5 border border-stone-200;
}
dt {
	@apply bg-twilight-50 cursor-pointer pt-4 pb-3 px-6 w-full outline-0 transition border border-twilight-300 flex items-center;
}
dt h3 {
	@apply text-vermillion-600 mr-auto;
}
dt:last-of-type {
	@apply mb-0;
}

dt.acc-opened, dt:hover {
    @apply bg-twilight-100;
}

dt:after {
	@apply text-2xl font-bold font-awesome text-twilight-800;
  content: '\2b'; /* plus sign */
}

dt.acc-opened:after {
  content: "\f068"; /* minus sign */
}

dd {
	@apply px-6 bg-stone-50 max-h-0 overflow-hidden opacity-0 mb-2 border border-stone-200;
	transition: 0.4s ease-in-out;
}
dd > *:last-child {
	@apply mb-0;
}

dd.acc-opened {
	@apply opacity-100 py-6 mt-1;
	max-height: 2500px;
}

dd ul {
	@apply list-disc ml-6;
}

dd ol {
	@apply mt-3 ml-8 list-decimal;
}


/*** menu ***/

.menu-opened {
	@apply pt-20 block absolute top-full w-full h-screen bg-white left-0;
}
.menu-opened li {
	@apply text-center;
}