block variables

doctype html
html
	head
		link(rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png")
		link(rel="icon" type="image/x-icon" href="/img/fav/favicon.ico")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="stylesheet" href="/css/index.css")
		title= title
	body.flex.flex-col.min-h-screen

		header.py-5.bg-gray-200
			include ../partials/header.pug

		main.px-14.py-8
			include ../partials/flash.pug
			
			block content

		footer.mt-auto.py-5.bg-gray-200
			include ../partials/footer.pug

		script(src="/js/main.js") 

		block extra-scripts
	
	