block variables

doctype html
html.scroll-smooth
	head
		link(rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png")
		link(rel="icon" type="image/x-icon" href="/img/fav/favicon.ico")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="stylesheet" href="/css/index.css")
		script(src="https://kit.fontawesome.com/57fb3a03b8.js" crossorigin="anonymous")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Merriweather&family=Acme&family=Orienta&family=Kufam&display=swap" rel="stylesheet")
		title= title
	body.flex.flex-col.min-h-screen.text-twilight-900.bg-stone-50.text-lg.font-body
		if mode === "dev"
			.flash.flash-error DEVELOPMENT SERVER

		header.py-5.bg-twilight-100.border-b.border-twilight-200
			include ../partials/header.pug

		main.px-14.py-8
			include ../partials/flash.pug
			block content

		footer.mt-auto.py-5.bg-twilight-100.border-t.border-twilight-200.text-center
			include ../partials/footer.pug

		script(src="/js/main.js") 

		block extra-scripts
	
	